* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img,
.disable-selection,
br {
  user-select: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
}

body {
  background-color: rgb(24, 25, 26);
  color: rgb(16, 138, 228);
  font-family: "Poppins", sans-serif;
}

h2::selection {
  color: rgb(255, 255, 255);
  background: rgba(0, 136, 255, 0.25);
}

p::selection {
  color: rgb(255, 255, 255);
  background: rgba(0, 136, 255, 0.2);
}

p {
  font-size: 1.6rem;
}

h2 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #18191a;
}

body::-webkit-scrollbar-thumb {
  background: #329cee17;
}

.header-push-down {
  height: 0%;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

main hr {
  border: 0;
  background-color: aliceblue;
  height: 0.8px;
  margin: 28px 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #18191a;
  padding: 0 40px;

  position: fixed;
  width: 100%;
  z-index: 9999;
}

.close{
  background-color:black;
  color: #000;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  list-style: none;
  margin: 0 30px;
}

nav ul li[href="services.html"] {
  margin-right: 80px;
}

nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.829);
}

nav ul li a:hover {
  text-decoration: underline;
  color: rgb(16, 138, 228);
  transition: 0.4s;
}

.menubar {
  cursor: pointer;
  display: none;
}

.left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left img {
  height: 80px;
}

.left .blue {
  font-size: 2rem;
  font-weight: 100;
  margin: 0 5px;
  color: rgb(17, 135, 223);
}

.left .white {
  font-size: 2rem;
  font-weight: 100;
  margin: 0 5px;
  color: aliceblue;
}

.left a {
  text-decoration: none;
}

.firstsection {
  display: flex;
  padding: 1.5vh 0;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  scroll-snap-align: start;
}

.firstsection .leftSection {
  display: flex;
  align-items: center;
  width: 57%;
  margin: 0 50px;
  color: floralwhite;
  font-size: 2.5rem;
  pointer-events: none;
}

.leftSection .blue {
  font-size: 3rem;
  font-weight: 100;
  color: rgb(101 171 224);
}

.leftSection .focus-gradient {
  color: rgb(131 191 236);
  font-weight: bold;
  background: linear-gradient(to left, rgb(17, 135, 223), floralwhite);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#element {
  font-weight: bold;
  background: linear-gradient(to left, rgb(17, 135, 223), floralwhite);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.leftSection .white {
  font-size: 2.5rem;
}

.rightSection img {
  width: 90%;
  margin: 0 0 0 50px;
}

/* Second Section */

.secondSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 85vh;
  pointer-events: none;
  padding-top: 20px;
  scroll-snap-align: start;
}

.second-section-container {
  height: 70%;
  width: 80%;
  display: flex;
}

.second-section-container .leftSection {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 45%;
  pointer-events: none;
}

.second-section-container .rightSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  flex-grow: 1;
}

.second-section-container img {
  margin-right: 3%;
  height: 80%;
}

.second-section-container h1 {
  font-size: 3rem;
  font-weight: bold;
  color: aliceblue;
}

.text-gradient-blue-white {
  background: linear-gradient(to left, rgb(96 186 253), floralwhite);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

/* project section styles */
#projects{
   scroll-snap-align: start;
   padding-top: 100px;
}
#projects>h2 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

#projects p {
  font-size: 1rem;
  color: white;
}

.project-container {
  max-width: 1170px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardP {
  flex-basis: 30%;
  text-align: center;
  margin: 12px 10px;
  border: 2px solid white;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 5px 5px 5px rgb(17, 135, 223);
  color: white;
}

.card-content {
  font-size: 14px;
  padding: 10px;
}

.cardP img {
  height: 80px;
}

.project-tags::before {
  content: "Tags: ";
}

@media only screen and (min-width: 200px) and (max-width: 767px) {

  .project-container {
    width: 100%;
    flex-direction: column;
  }
}

/* Style for the Contact Section */
.contactSection {
  box-sizing: border-box;
  width: 100vw;
  padding: 130px 10vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
  transition: 0.5s;
  scroll-snap-align: start;
}

.contactSection div p {
  color: rgb(144, 198, 239);
  margin: 15px 0 25px;
}

.leftContact {
  width: 60%;
}

.rightContact {
  width: 40%;
}

.leftContact img {
  width: 70%;
  object-fit: contain;
}

/* Style for the form */
.rightContact {
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #334bff, #40c9ff) border-box;
  border: 3px solid transparent;
  padding: 12px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

input[type="text"],
input[type="email"],
form textarea {
  margin: 5px 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
  font-size: 20px;
}

input:focus,
form textarea:focus {
  outline: none;
  border-color: #1c99ff;
}

input::selection,
form textarea::selection {
  color: rgb(255, 255, 255);
  background: rgb(12, 134, 153);
}

form textarea {
  resize: none;
}


form button,
#close {

  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.15s;
}

form button[type="submit"]:hover,
#close:hover {
  background-color: #0056b3;
}


#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242526;
  padding: 40px;
  box-shadow: 2px 2px 15px 0px #243f59;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  border-radius: 2%;
  z-index: 2;
}

#popup p {
  font-size: 1rem;
}

#close {
  width: 100%;
  margin: 0 auto;
}

.blurred {
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
  overflow: hidden;
  transition: 0.5s;
}

#popup.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

/* Responsive styles */
@media (max-width: 768px) {
  .contactContainer {
    display: block;
    padding: 20px;
  }

  form {
    padding: 0 10px;
  }
}

/* .footer {
    flex-wrap: wrap;
  }

  .footer-fourth {
    padding-top: 20px;
  }
}

footer {
  background-color: #242526;
  height: 180px;
}

.footer {
  display: flex;
  padding: 20px 50px;
  justify-content: space-evenly;
}

.footer ul {
  text-decoration: none;
  list-style: none;
}

footer .footer-rights {
  text-align: center;
  color: grey;

}

.footer-fourth {
  display: flex;
}

.footer-fourth a {
  display: flex;
  align-items: center;
}

.footer-fourth a:hover img {
  opacity: 0.7;
  transition: 0.5s;
}

.footer-fourth a img {
  width: 40px;
} */
footer {
  background-color: #242526;
  padding: 2% 3% 3%;
  margin: 0;
  width: 100%;
}

.row {
  width: 100%;
}

#footer-logo {
  width: 22%;
}

#footer-name {
  font-size: 210%;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0;
}

#footer-name>span {
  color: #f0f0f0;
}

#mail-footer {
  color: #757575;
  text-decoration: none;
  font-size: 17px;
}

.copy-right {
  font-size: 12px;
  color: #757575;
  text-align: center;
  margin-top: 5%;
}

.touch {
  color: #f0f0f0;
  margin-top: 16px;
  font-weight: 600;
}

#socials {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 5%;
}

#socials a {
  font-size: 32px;
  margin-right: 10%;
  color: #000;
  background-color: #f0f0f0;
  padding: 4px 14px;
  border-radius: 100%;
}

.contribute-head {
  color: #979494;
  font-weight: bold;
  margin-bottom: 0;
}

#contribute-tag {
  font-size: 15px;
  color: #757575;
  margin-top: 2%;
  /* margin-bottom: 0; */
}

#contribute-link {
  color: #898787;
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
}

#nav-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.ql-head {
  color: #f0f0f0;
  margin-top: 16px;
  font-weight: 600;
  margin-bottom: 0;
}

#nav-footer a {
  color: #979494;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
}

#nav-footer a:hover,
#contribute-link:hover,
#socials a:hover {
  color: #007bff;
}

@media only screen and (max-width: 750px) {
  #footer .footer-div {
    margin-bottom: 24px;
  }
}
article {
  --img-scale: 1.001;
  --title-color: #fff;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: 5px 5px 5px rgb(17, 135, 223);
  background: rgb(24, 25, 26);
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
  position: relative;
  min-height: 250px;
}


article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #1187df;
  position: absolute;
  bottom: 20px;
}

article a:focus {
  outline: 1px dotted #1187df;
}

article a .icon,
.view_more__projects .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: rgb(17, 135, 223);
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.projects_body {
  margin: 0;
  padding: 48px 0;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }

  .article-body {
    padding-left: 0;
  }

  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.view_more__projects {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}

.view_more__projects>a {
  text-align: center;
  /* display: block; */
  text-decoration: none;
  font-weight: bold;
}
.menubar{
  display: none;
}
@media screen and (max-width:430px) {
  .menubar{
    display: block;
    cursor: pointer;
    padding-left: space-evenly;
  }

  
  .navul{
    position: absolute;
    top: 100px;
    right: 10px;
    display: none;
  }
  nav ul {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 125px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 2px;
  }
  nav ul li {
    font-size: 1.15rem;
    list-style: none;
    margin: 12px -26px;
  }
}

@media screen and (min-width:431px) {
  #nav{
    display: flex !important;
  }
  .navul{
    display: flex !important;
  }
}

@media only screen and (max-width:1032px) {
  
  .header-push-down {
      height: 0vh;
  }
  .left {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }
  .left img {
      height: 40px;
      margin-left: -20px;
  }
  .left a {
      display: flex;
      text-decoration: none;
  }
  .left .blue {
      font-size: 1.5rem;
      font-weight: 100;
      margin: 0 5px;
      color: rgb(17, 135, 223);
  }
  .left .white {
      font-size: 1.5rem;
      font-weight: 100;
      margin: 0 5px;
      color: aliceblue;
  }
  .left .blue {
      font-size: 1.5rem;
      font-weight: 100;
      margin: 0 5px;
      color: rgb(17, 135, 223);
  }
  

  .firstsection {
      display: flex;
      flex-direction: column;
      padding: 1.5vh 0;
      justify-content: space-around;
      align-items: center;
      height: 75vh;
  }
  .firstsection .leftSection {
      display: flex;
      align-items: center;
      width: 57%;
      margin: 0 50px;
      color: floralwhite;
      font-size: 2.5rem;
      pointer-events: none;
  }
  .leftSection .white {
      font-size: 1.5rem;
      margin-left:-25px;
  }
  .leftSection .blue {
      font-size: 2.4rem;
      font-weight: 100;
      color: rgb(101 171 224);
  }

  .rightSection{
    white-space: normal;
   overflow: hidden;
  }

  .rightSection img {
    width: 90%;
    margin: 0 0 0 9px;
  }

  .contactSection {
      box-sizing: border-box;
      width: 100vw;
      padding: 130px 10vw;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8%;
      transition: 0.5s;
      flex-direction: column;
  }
  .rightContact {
      margin-top: 15px;
      margin-left: 22px;
      width: 345px;
      background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, #334bff, #40c9ff) border-box;
      border: 3px solid transparent;
      padding: 12px 24px;
      font-size: 14px;
      font-family: inherit;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 16px;
      box-sizing: border-box;
      border-radius: 19px;
  }
  footer {
      margin-top:10px;
      background-color: #242526;
      padding: 2% 5% 4%;
      margin: 0;
      width: 106%;
  }
  #faq h2 {
    margin-bottom: 8px;
    margin-left: 54px;
  }
  




}
