* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(24, 25, 26);
  color: rgb(16, 138, 228);
  font-family: "Poppins", sans-serif;
}
main hr {
  border: 0;
  background-color: aliceblue;
  height: 0.8px;
  margin: 28px 80px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgb(36, 37, 38);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  justify-content: center;
  margin: 0 30px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  text-decoration: none;
  color: rgb(16, 138, 228);
}
.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left img {
  height: 80px;
  margin-left: 40px;
}
.left .blue {
  font-size: 2rem;
  font-weight: 100;
  margin: 5px;
  color: rgb(17, 135, 223);
}
.left .white {
  font-size: 2rem;
  font-weight: 100;
  margin: 5px;
  color: aliceblue;
}
.left a {
  text-decoration: none;
}
.left a:hover {
  text-decoration: none;
}
.firstsection {
  display: flex;
  justify-content: space-around;
  height: 80vh;
}
.leftSection {
  display: flex;
  align-items: center;
  width: 57%;
  margin: 0 50px;
  color: floralwhite;
  font-size: 2.5rem;
}
.leftSection .blue {
  font-size: 3rem;
  font-weight: 100;
  color: rgb(17, 135, 223);
}
.leftSection .focus {
  color: rgb(50, 157, 238);
  font-weight: bold;
}
#element {
  font-weight: bold;
}
.leftSection .white {
  font-size: 2.5rem;
}
.rightSection img {
  width: 100%;
  margin: 0 0;
}
.secondSection {
  display: flex;
  align-content: space-around;
  width: 90vw;
  height: 85vh;
  margin: auto;
}
.secondSection .rightSection {
  width: 40%;
  margin: 150px 0;
}
.secondSection img {
  width: 95%;
}
.secondSection h1 {
  font-size: 3rem;
  font-weight: bold;
  color: aliceblue;
}
.text-grey {
  color: rgb(244, 188, 212);
  font-size: 1.5rem;
}
footer {
  background-color: rgb(240, 185, 208);
  height: 400px;
}
.footer {
  display: flex;
  padding: 20px 50px;
}
