* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: rgb(24, 25, 26);
  color: rgb(16, 138, 228);
  font-family: "Poppins", sans-serif;

}

img, .disable-selection ,br {
  user-select: none;
}

h2::selection {
  color: rgb(255, 255, 255);
  background: rgba(0, 136, 255, 0.25);
}

p::selection {
  color: rgb(255, 255, 255);
  background: rgba(0, 136, 255, 0.2);

}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #18191a;
}


body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #18191a;
}

body::-webkit-scrollbar-thumb {
  background: #329cee17
  ;
}

.header-push-down {
  height: 8vh;
  /* width: 100vw; */
}

header{
  position: sticky;
  top: 0;
  width: 100%;
}

main hr {
  border: 0;
  background-color: aliceblue;
  height: 0.8px;
  margin: 28px 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgb(24, 25, 26);
  padding: 0 40px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 30px;
}

nav ul li[href="services.html"] {
  margin-right: 80px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-decoration: none;
  color: rgb(16, 138, 228);
}

.left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left img {
  height: 80px;
}

.left .blue {
  font-size: 2rem;
  font-weight: 100;
  margin: 0 5px;
  color: rgb(17, 135, 223);
}

.left .white {
  font-size: 2rem;
  font-weight: 100;
  margin: 0 5px;
  color: aliceblue;
}

.left a {
  text-decoration: none;
}

.firstsection {
  display: flex;
  padding: 1.5vh 0;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
}
.leftSection {
  display: flex;
  align-items: center;
  width: 57%;
  margin: 0 50px;
  color: floralwhite;
  font-size: 2.5rem;
  pointer-events: none;
}
.leftSection .blue {
  font-size: 3rem;
  font-weight: 100;
  color: rgb(17, 135, 223);
}
.leftSection .focus-gradient {
  color: rgb(50, 157, 238);
  font-weight: bold;
   background:linear-gradient(to left,rgb(17, 135, 223),floralwhite) ;
  background-clip: text;
  -webkit-background-clip : text ;
  -webkit-text-fill-color: transparent;
}
#element {
  font-weight: bold;
   background:linear-gradient(to left,rgb(17, 135, 223),floralwhite) ;
   background-clip: text;
   -webkit-background-clip : text ;
  -webkit-text-fill-color: transparent;
}
.leftSection .white {
  font-size: 2.5rem;
}
.rightSection img {
  width: 100%;
  margin: 0 0 0 50px;
}
.secondSection {
  display: flex;
  align-content: space-around;
  width: 90vw;
  height: 85vh;
  margin: auto;
  pointer-events: none;
}
.secondSection .rightSection {
  width: 40%;
  margin: 150px 0;
}
.secondSection img {
  width: 95%;
}
.secondSection h1 {
  font-size: 3rem;
  font-weight: bold;
  color: aliceblue;
}
.text-gradient-blue-white {
  font-size: 1.5rem;
  background:linear-gradient(to left,rgb(17, 135, 223),floralwhite) ;
  background-clip: text;
  -webkit-background-clip : text ;
  -webkit-text-fill-color: transparent;
}

/* Style for the Contact Section */
.contactSection {
  padding: 130px;
  background-color: rgb(24, 25, 26);
  text-align: center;
  transition: 0.5s;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 8%;

}

.contactSection div h2 {
  font-size: 38px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.contactSection div p {
  font-size: 20px;
  color: rgb(50, 157, 238);
  margin-bottom: 30px;
}


.leftContact {
  width: 60%;
}

.contactContainer div {
  max-width: 500px;
}

.contactContainer div img {
  width: 80%;
  object-fit: contain;
}

/* Style for the form */
form {
  max-width: 500px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

form textarea {
  resize: none;
}

form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #0056b3;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242526;
  padding: 40px;
  box-shadow: 0 5px 30px ;
  visibility: hidden;
  opacity: 0;
}

.contactSection.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}

#popup.active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242526;
  padding: 40px;
  box-shadow: 0 5px 30px ;
  visibility: visible;
  opacity: 1;
}

/* Responsive styles */
@media (max-width: 768px) {
  .contactContainer {
      display: block;
      padding: 20px;
  }
  
  form {
      padding: 0 10px;
  }

  .footer {
    flex-wrap: wrap;
  }
  .footer-fourth{
    padding-top: 20px;
  }
}

footer {
  background-color:#242526;
  height: 180px;
}
.footer {
  display: flex;
  padding: 20px 50px;
  justify-content: space-evenly ;
}
.footer ul{
    text-decoration: none;
    list-style: none;
}
footer .footer-rights{
  text-align: center;
  color: grey;

} 

.footer-fourth{
  display: flex;
}
.footer-fourth a{
  display: flex;
  align-items: center;
}
.footer-fourth a:hover img{
  opacity: 0.5;
}

.footer-fourth a img {
  width: 40px;
}