p {
    color: white;
    font-weight: 600;

}

.cards {
    width: 100vw;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#maintainers,
.card_main,
#contributors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#team a {
    text-decoration: none;
}

.card_main {
    height: 30vh;
    width: 43vh;
    box-shadow: 0px 0px 10px 3px #699cc8;
    background: azure;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 50%;
    padding: 30px;
    margin: 30px;
    justify-content: space-evenly;
    transition: 1s;
}

.card_main:hover{
    height: 35vh;
    width: 46vh;
    box-shadow: 0px 0px 15px 6px #699cc8;

}

#contributors .card_main {
    background: white;
}

.card_main p {
    color: black;
    font-weight: 400;
    font-style:italic;
}

#profile_img {

    width: 6vw;
    border-radius: 50%;
}

#social img {
    width: 2vw;
    margin: 2px;
    border-radius: 10px;
}
#social img:hover{
    transform: scale(1.2);
    border:1px solid rgb(112, 112, 212);
  }
.card_main p :hover{
   font-weight:700;
  }

